.skills {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        margin-top: 60px;
        padding: 0 10px;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto)) ;
        grid-auto-rows: minmax(270px, auto);
        column-gap: 13px;
        row-gap: 13px;
    }
    &__title {
        position: relative;
        text-align: center;
        @include before-circle;
        &:before {
            top: -6;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__item {
        border: 1px solid black;
        padding: 30px 30px 25px 30px;
        &-title {
            margin-bottom: 0;
            margin-top: 20px;
            &_mt44 {
                margin-top: 44px;
            }
        }
        &-descr {
            margin-top: 15px;
            margin-bottom: 0;
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__ratings {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, minmax(70px, auto)) ;
        grid-auto-rows: minmax(270px, auto);
        column-gap: 45px;
        row-gap: 30px;
        &-item {
            display: grid;
            padding-top: 8px;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-title {
            position: relative;
            padding: 2px 0 0 13px;
            @include before-circle;
        }
        &-counter {
            font-size: 14px;
            line-height: 21px;
        }
        &-line {
            width: 350px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    }
}